$primary-color : #007aff;
$primary-text: white;

main{
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: self-start;
  height: 100vh;
}

.__col_img{
  position: absolute;
  width: 200px;
  height: 200px;
  object-fit: contain;
  z-index: 50;
}

.__col_img > img{
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/*Main Information*/
.__main_info{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  border-radius: 25px 25px 0 0;
  background-color: $primary-color;
  z-index: 10;
  top: 28%;
  color: $primary-text;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;

  & .__info_1{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    top: 140px;
    z-index: 50;

    & h1{
      color: $primary-text;
      font-weight: bold;
      font-size: 2.15em;
      line-height: 10px;
    }
  }

  .__card-container{
    position: relative;
    top: 480px;
    height: auto;
    padding: 5px;
  }

  ion-card{
    background: rgba(255, 255, 255, 0.651);
    -webkit-backdrop-filter: blur(20px);

    & ion-card-subtitle{
      color: #000;
    }

    & ion-card-content{
      margin-left: -20px;
    }

    &
    .__me_info{
      padding: 20px 40px;
      color: #000;
      margin-right: -20px;
      text-align: justify;
      margin-top: -10px;
    }
  }

  .__self_info{

    & .data_list{
      margin-left: -20px;

      & ul{
        list-style: none;

        & li{
          color: #000;
        }

        & li > span{
          font-weight: bolder;
          margin-top: 5px;
          margin-bottom: 5px;
          color: #000;
          text-align: justify;
          overflow: hidden;
        }
    }
    }
  }

  & ion-grid{
    margin-left: 10px;
    text-align: center;

    & ion-col{
      width: 100%;
      padding: 10px;
    }

    & ion-col > a{
      text-decoration: none;
      color: black;
    }

    & .github_logo{
      font-size: 4em;
      cursor: pointer;
      color: #000;
    }

    & .insta_logo{
      font-size: 4em;
      cursor: pointer;
      color: #b04ce6;
    }

    & .behance_logo{
      font-size: 4em;
      cursor: pointer;
      color: $primary-color;
    }

    & .linkedin_logo{
      font-size: 4em;
      cursor: pointer;
      color: #3661da;
    }

  }

  ._academic_card{
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: self-start;
    justify-content: space-between;

    ._academic_spins{

    }

    & .__academic_content{
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: self-start;
      width: 100%;
      margin-left: 0px;

        h3{
          text-align: left;
          color: #000;
          font-weight: bold;
        }

        p{
          color: #0f0f0f;
          margin-bottom: 10px;
        }

        span{
          font-size: 0.89em;
          color: rgb(82, 81, 81);
        }
      }
  }

  .__aux{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  border-radius: 25px 25px 0 0;
  background-color: $primary-color;
  top: 95%;
  color: $primary-text;
  z-index: -50;
  }
}

$primary-color : #007aff;
$primary-text: white;

main{
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: self-start;
  height: 100vh;
}

.__col_img{
  position: absolute;
  width: 200px;
  height: 200px;
  object-fit: contain;
  z-index: 50;
}

.__col_img > img{
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/*Main Information*/
.__main_info{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  border-radius: 25px 25px 0 0;
  background-color: $primary-color;
  z-index: 10;
  top: 28%;
  color: $primary-text;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;

  & .__info_1{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    top: 140px;
    z-index: 50;

    & h1{
      color: $primary-text;
      font-weight: bold;
      font-size: 2.15em;
      line-height: 10px;
    }
  }

  .__card-container{
    position: relative;
    top: 480px;
    height: auto;
    padding: 5px;
  }

  ion-card{
    background: rgba(255, 255, 255, 0.651);
    -webkit-backdrop-filter: blur(20px);

    & ion-card-subtitle{
      color: #000;
    }

    & ion-card-content{
      margin-left: -20px;
    }

    &
    .__me_info{
      padding: 20px 40px;
      color: #000;
      margin-right: -20px;
      text-align: justify;
      margin-top: -10px;
    }
  }

  .__self_info{

    & .data_list{
      margin-left: -20px;

      & ul{
        list-style: none;

        & li{
          color: #000;
        }

        & li > span{
          font-weight: bolder;
          margin-top: 5px;
          margin-bottom: 5px;
          color: #000;
          text-align: justify;
          overflow: hidden;
        }
    }
    }
  }

  & ion-grid{
    margin-left: 10px;
    text-align: center;

    & ion-col{
      width: 100%;
      padding: 10px;
    }

    & ion-col > a{
      text-decoration: none;
      color: black;
    }

    & .github_logo{
      font-size: 4em;
      cursor: pointer;
      color: #000;
    }

    & .insta_logo{
      font-size: 4em;
      cursor: pointer;
      color: #b04ce6;
    }

    & .behance_logo{
      font-size: 4em;
      cursor: pointer;
      color: $primary-color;
    }

    & .linkedin_logo{
      font-size: 4em;
      cursor: pointer;
      color: #3661da;
    }

  }

  ._academic_card{
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: self-start;
    justify-content: space-between;

    ._academic_spins{

    }

    & .__academic_content{
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: self-start;
      width: 100%;
      margin-left: 0px;

        h3{
          text-align: left;
          color: #000;
          font-weight: bold;
        }

        p{
          color: #0f0f0f;
          margin-bottom: 10px;
        }

        span{
          font-size: 0.89em;
          color: rgb(82, 81, 81);
        }
      }
  }

  .__aux{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  border-radius: 25px 25px 0 0;
  background-color: $primary-color;
  top: 95%;
  color: $primary-text;
  z-index: -50;
  }
}

