<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>Habilidades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" [translucent]="true">
    <ion-toolbar>
      <ion-title size="large">Habilidades</ion-title>
    </ion-toolbar>
  </ion-header>

<!---Body App-->
<swiper-container>

  <!--Swiper A-->
    <swiper-slide>
      <ion-card class="_hability_card">
        <ion-grid>
          <ion-row>
          <ion-col class="_info_col">
            <ion-card-header>
              <ion-row class="_icon_hab">
                <img alt ="" src="../../assets/icon/swipe_icons/html-5-svgrepo-com.svg"/>
                &nbsp;
                &nbsp;
                <img alt ="" src="../../assets/icon/swipe_icons/css-3-svgrepo-com.svg"/>
                &nbsp;
                &nbsp;
                <img alt ="" src="../../assets/icon/swipe_icons/js-svgrepo-com.svg"/>
              </ion-row>
            </ion-card-header>
            <ion-card-content >
              Dominio de HTML, CSS y Javascript
            </ion-card-content>
          </ion-col>
          </ion-row>
        </ion-grid>
        </ion-card>
    </swiper-slide>

  <!--Swiper B-->
  <swiper-slide>
    <ion-card class="_hability_card">
      <ion-grid>
        <ion-row>
        <ion-col class="_info_col">
          <ion-card-header>
            <ion-row class="_icon_hab">
              <img alt ="" src="../../assets/icon/swipe_icons/windows-azure-svgrepo-com.svg"/>
              &nbsp;
              &nbsp;
              &nbsp;
              &nbsp;
              &nbsp;
              <img alt ="" src="../../assets/icon/swipe_icons/linux-svgrepo-com.svg"/>
            </ion-row>
          </ion-card-header>
          <ion-card-content >
            Manejo de sistemas Windows y Linux
          </ion-card-content>
        </ion-col>
        </ion-row>
      </ion-grid>
      </ion-card>
  </swiper-slide>

  <!--Swiper C-->
  <swiper-slide>
    <ion-card class="_hability_card">
      <ion-grid>
        <ion-row>
        <ion-col class="_info_col">
          <ion-card-header>
            <ion-row class="_icon_hab">
              <img alt ="" src="../../assets/icon/swipe_icons/tailwind-svgrepo-com.svg"/>
            </ion-row>
          </ion-card-header>
          <ion-card-content >
            Conocimiento en TailwindCSS
          </ion-card-content>
        </ion-col>
        </ion-row>
      </ion-grid>
      </ion-card>
  </swiper-slide>

  <!--Swiper D-->
  <swiper-slide>
    <ion-card class="_hability_card">
      <ion-grid>
        <ion-row>
        <ion-col class="_info_col">
          <ion-card-header>
            <ion-row class="_icon_hab">
              <img alt ="" src="../../assets/icon/swipe_icons/adobe-illustrator-svgrepo-com.svg"/>
              &nbsp;
              &nbsp;
              <img alt ="" src="../../assets/icon/swipe_icons/adobe-photoshop-svgrepo-com.svg"/>
              &nbsp;
              &nbsp;
              <img alt ="" src="../../assets/icon/swipe_icons/affinity-svgrepo-com.svg"/>
            </ion-row>
          </ion-card-header>
          <ion-card-content >
            Manejo de software Adobe y Affinity
          </ion-card-content>
        </ion-col>
        </ion-row>
      </ion-grid>
      </ion-card>
  </swiper-slide>

<!--Swiper D-->
<swiper-slide>
  <ion-card class="_hability_card">
    <ion-grid>
      <ion-row>
      <ion-col class="_info_col">
        <ion-card-header>
          <ion-row class="_icon_hab">
            <img alt ="" src="../../assets/icon/swipe_icons/figma-svgrepo-com.svg"/>
            &nbsp;
            &nbsp;
            <img alt ="" src="../../assets/icon/swipe_icons/adobe-xd-svgrepo-com.svg"/>
          </ion-row>
        </ion-card-header>
        <ion-card-content >
          Manejo de software de prototipado.
        </ion-card-content>
      </ion-col>
      </ion-row>
    </ion-grid>
    </ion-card>
</swiper-slide>

</swiper-container>

<ion-item-divider>
</ion-item-divider>

<ion-text>
    <h2 class="second_title">Herramientas</h2>
  </ion-text>

<div class="__card_hab_cont">
      <!--Card Item 3-->
      <ion-card class="flet_card">
        <ion-grid>
          <ion-row>
          <ion-col class="_info_col">
            <ion-card-header>
              <ion-row>
                <img alt ="" src="../../assets/icon/flet-logo.svg"/>
                &nbsp;
                &nbsp;
                <ion-card-title>Flet</ion-card-title>
              </ion-row>
            </ion-card-header>
            <ion-card-content>
              Una herramienta alternativa, basada en Flutter, para el lenguaje Python. <br> Permite desarrollar aplicaciones web eficientes.
            </ion-card-content>
          </ion-col>
          </ion-row>
          <ion-row class="_btn_items">
            <ion-button fill="clear" color="tercery">
              <ion-icon name="globe-outline"></ion-icon>
              &nbsp;
              Web
            </ion-button>
            <ion-button fill="clear" color="warning">
              <ion-icon name="apps-outline"></ion-icon>
              &nbsp;
              PWA
            </ion-button>
          </ion-row>
        </ion-grid>
        </ion-card>

      <!--Card Item 1-->
      <ion-card class="flutter_card">
        <ion-grid>
          <ion-row>
          <ion-col class="_info_col">
            <ion-card-header>
              <ion-row>
                <img alt ="" src="../../assets/icon/flutter-svgrepo-com.svg"/>
                &nbsp;
                &nbsp;
                <ion-card-title>Flutter</ion-card-title>
              </ion-row>
            </ion-card-header>
            <ion-card-content>
              Un framework, inspirado en Material You, es mi principal herramienta de desarrollo. Con Flutter puedo crear grandes aplicaciones amigables con el usuario y el sistema.
            </ion-card-content>
          </ion-col>
          </ion-row>

          <ion-row class="_btn_items">
            <ion-button fill="clear" color="success">
              <ion-icon name="logo-android"></ion-icon>
              &nbsp;
              Android
            </ion-button>
            <ion-button fill="clear" class="windows_btn">
              <ion-icon name="logo-windows"></ion-icon>
              &nbsp;
              Windows
            </ion-button>
          </ion-row>
        </ion-grid>
      </ion-card>

      <!--Card Item 4-->
      <ion-card class="mongo_card">
        <ion-grid>
          <ion-row>
          <ion-col class="_info_col">
            <ion-card-header>
              <ion-row>
                <img alt ="" src="../../assets/icon/mongodb-svgrepo-com.svg"/>
                &nbsp;
                &nbsp;
                <ion-card-title>MongoDB</ion-card-title>
              </ion-row>
            </ion-card-header>
            <ion-card-content>
              Una de las bases de datos no relacionales más importantes, me ayuda a desarrollar aplicaciones o sistemas muy accesibles, al guardar información organizada y fácil de entender.
            </ion-card-content>
          </ion-col>
          </ion-row>
          <ion-row class="_btn_items">
            <ion-button fill="clear" color="dark">
              <ion-icon name="extension-puzzle-outline"></ion-icon>
              &nbsp;
              All software
            </ion-button>
          </ion-row>
        </ion-grid>
      </ion-card>

      <!--Card Item 2-->
      <ion-card class="react_card">
        <ion-grid>
          <ion-row>
          <ion-col class="_info_col">
            <ion-card-header>
              <ion-row>
                <img alt ="" src="../../assets/icon/react-svgrepo-com.svg"/>
                &nbsp;
                &nbsp;
                <ion-card-title>React</ion-card-title>
              </ion-row>
            </ion-card-header>
            <ion-card-content>
              Una herramienta intuitiva para el desarrollo frontend, siendo mi framework alterno para crear grandes experiencias e interfaces web.
            </ion-card-content>
          </ion-col>
          </ion-row>
          <ion-row class="_btn_items">
            <ion-button fill="clear" color="tercery">
              <ion-icon name="globe-outline"></ion-icon>
              &nbsp;
              Web
            </ion-button>
          </ion-row>
        </ion-grid>
      </ion-card>

      <!--Card Item-->
      <ion-card class="sqlite_card">
        <ion-grid>
          <ion-row>
          <ion-col class="_info_col">
            <ion-card-header>
              <ion-row>
                <img alt ="" src="../../assets/icon/sqlite-svgrepo-com.svg"/>
                &nbsp;
                &nbsp;
                <ion-card-title>SQLite</ion-card-title>
              </ion-row>
            </ion-card-header>
            <ion-card-content>
              Minimalista, sencilla y directa. SQLite permite realizar bases de datos relacionales de forma ágil y accesible, con todas las características de SQL.
            </ion-card-content>
          </ion-col>
          </ion-row>
          <ion-row class="_btn_items">
            <ion-button fill="clear" color="dark">
              <ion-icon name="extension-puzzle-outline"></ion-icon>
              &nbsp;
              All software
            </ion-button>
          </ion-row>
        </ion-grid>
      </ion-card>

      <!--Card Item-->
      <ion-card class="wsl_card">
        <ion-grid>
          <ion-row>
          <ion-col class="_info_col">
            <ion-card-header>
              <ion-row>
                <img alt ="" src="../../assets/icon/linux-svgrepo-com.svg"/>
                &nbsp;
                &nbsp;
                <ion-card-title>WSL</ion-card-title>
              </ion-row>
            </ion-card-header>
            <ion-card-content>
              Con WSL (Subsistema de Linux para Windows) tengo los beneficios de Linux sin necesidad de apartarme de la familiaridad de Windows. El acceso a paquetes, apliaciones y entornos como Docker se hacen posible gracias a ésta gran herramienta.
            </ion-card-content>
          </ion-col>
          </ion-row>
          <ion-row class="_btn_items">
            <ion-button fill="clear" color="dark">
              <ion-icon name="logo-windows"></ion-icon>
              &nbsp;
              Windows
            </ion-button>
          </ion-row>
        </ion-grid>
      </ion-card>

</div>
</ion-content>
