<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    Registrate
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registrate</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <img src="https://www.svgrepo.com/show/353912/ionic-icon.svg" alt="" />
    <h1>Iniciar Sesión</h1>
      <div class="__login_module">
        <form>
          <ion-item>
            <ion-icon name="mail-outline"></ion-icon>
            <ion-input>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="lock-closed-outline"></ion-icon>
            <ion-input>
            </ion-input>
          </ion-item>

          <ion-fab vertical="bottom" horizontal="center" style="margin-bottom: -125px;">
            <ion-fab-button [routerLink]="['/cv_home']">
              <ion-icon name="log-out-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab>

        </form>
      </div>
  </div>
</ion-content>
