#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  img{
    width: 100px;
    margin-bottom: 50px;
  }

  h1{
    color: black;
    font-weight: bold;
  }

  .__login_module{
    padding: 25px;

    form{
      padding: 25px 20px;
      background-color: #9BD2DE;
      border-radius: 25px;

      ion-item{
        padding: 10px;
        border-radius: 15px;

        ion-input{
          cursor: pointer;
        }

        ion-icon{
          padding-right: 25px;
        }
      }
    }

    a{
      font-size: 1.5em;
      color: skyblue;
    }

  }

}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
